#outdated {
    padding: 32px;
    text-transform: none;
}
#outdated h6 {
    font-size: 32px;
    line-height: 48px;
    margin: 12px 0;
}
#outdated p {
    font-size: 24px;
    line-height: 36px;
    margin: 0;
}
#outdated #buttonUpdateBrowser {
    min-width: 400px;
    text-transform: uppercase;
    line-height: 28px;
}
#outdated #buttonUpdateBrowser:hover {
    background-color: white;
    color: #009a52;
}
